# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.local
.env.production.local
.env.development.local
.env.test.local